test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/.signature.p7s
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/EntityFramework.6.4.4.nupkg
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/Icon.png
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/build/EntityFramework.DefaultItems.props
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/build/EntityFramework.props
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/build/EntityFramework.targets
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/build/Microsoft.Data.Entity.Build.Tasks.dll
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.props
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/build/netcoreapp3.0/EntityFramework.targets
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.props
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/buildTransitive/EntityFramework.targets
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.props
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/buildTransitive/netcoreapp3.0/EntityFramework.targets
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/content/net40/App.config.install.xdt
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/content/net40/App.config.transform
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/content/net40/Web.config.install.xdt
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/content/net40/Web.config.transform
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/net40/EntityFramework.dll
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/net40/EntityFramework.SqlServer.dll
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/net40/EntityFramework.SqlServer.xml
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/net40/EntityFramework.xml
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/net45/EntityFramework.dll
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/net45/EntityFramework.SqlServer.dll
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/net45/EntityFramework.SqlServer.xml
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/net45/EntityFramework.xml
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.dll
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.SqlServer.dll
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.SqlServer.xml
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/lib/netstandard2.1/EntityFramework.xml
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/about_EntityFramework6.help.txt
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psd1
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/EntityFramework6.PS2.psm1
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/EntityFramework6.psd1
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/EntityFramework6.psm1
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/init.ps1
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/install.ps1
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/net40/any/ef6.exe
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/net40/any/ef6.pdb
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/net40/win-x86/ef6.exe
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/net40/win-x86/ef6.pdb
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/net45/any/ef6.exe
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/net45/any/ef6.pdb
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/net45/win-x86/ef6.exe
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/net45/win-x86/ef6.pdb
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.dll
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.pdb
test-energy-provider/DataAccess/packages/EntityFramework.6.4.4/tools/netcoreapp3.0/any/ef6.runtimeconfig.json
test-energy-provider/DataAccess/packages/MailKit.2.10.1/.signature.p7s
test-energy-provider/DataAccess/packages/MailKit.2.10.1/MailKit.2.10.1.nupkg
test-energy-provider/DataAccess/packages/MailKit.2.10.1/icons/mailkit-50.png
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net45/MailKit.dll
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net45/MailKit.pdb
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net45/MailKit.xml
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net46/MailKit.dll
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net46/MailKit.pdb
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net46/MailKit.xml
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net47/MailKit.dll
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net47/MailKit.pdb
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net47/MailKit.xml
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net48/MailKit.dll
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net48/MailKit.pdb
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/net48/MailKit.xml
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/netstandard2.0/MailKit.dll
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/netstandard2.0/MailKit.pdb
test-energy-provider/DataAccess/packages/MailKit.2.10.1/lib/netstandard2.0/MailKit.xml
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/.signature.p7s
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/MimeKit.2.10.1.nupkg
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/icons/mimekit-50.png
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net45/MimeKit.dll
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net45/MimeKit.pdb
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net45/MimeKit.xml
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net46/MimeKit.dll
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net46/MimeKit.pdb
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net46/MimeKit.xml
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net47/MimeKit.dll
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net47/MimeKit.pdb
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net47/MimeKit.xml
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net48/MimeKit.dll
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net48/MimeKit.pdb
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/net48/MimeKit.xml
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/netstandard2.0/MimeKit.dll
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/netstandard2.0/MimeKit.pdb
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/netstandard2.0/MimeKit.xml
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/netstandard2.1/MimeKit.dll
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/netstandard2.1/MimeKit.pdb
test-energy-provider/DataAccess/packages/MimeKit.2.10.1/lib/netstandard2.1/MimeKit.xml
test-energy-provider/DataAccess/packages/Portable.BouncyCastle.1.8.8/.signature.p7s
test-energy-provider/DataAccess/packages/Portable.BouncyCastle.1.8.8/Portable.BouncyCastle.1.8.8.nupkg
test-energy-provider/DataAccess/packages/Portable.BouncyCastle.1.8.8/lib/net40/BouncyCastle.Crypto.dll
test-energy-provider/DataAccess/packages/Portable.BouncyCastle.1.8.8/lib/net40/BouncyCastle.Crypto.xml
test-energy-provider/DataAccess/packages/Portable.BouncyCastle.1.8.8/lib/netstandard2.0/BouncyCastle.Crypto.dll
test-energy-provider/DataAccess/packages/Portable.BouncyCastle.1.8.8/lib/netstandard2.0/BouncyCastle.Crypto.xml
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/.signature.p7s
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/LICENSE.TXT
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/System.Buffers.4.5.1.nupkg
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/THIRD-PARTY-NOTICES.TXT
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/useSharedDesignerContext.txt
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/version.txt
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/lib/net461/System.Buffers.dll
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/lib/net461/System.Buffers.xml
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/lib/netcoreapp2.0/_._
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.dll
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/lib/netstandard1.1/System.Buffers.xml
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.dll
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/lib/netstandard2.0/System.Buffers.xml
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/lib/uap10.0.16299/_._
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/ref/net45/System.Buffers.dll
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/ref/net45/System.Buffers.xml
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/ref/netcoreapp2.0/_._
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.dll
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/ref/netstandard1.1/System.Buffers.xml
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.dll
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/ref/netstandard2.0/System.Buffers.xml
test-energy-provider/DataAccess/packages/System.Buffers.4.5.1/ref/uap10.0.16299/_._
